<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simplyteam.simplybackup">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PACK" />

    <application
        android:name=".common.SimplyBackupApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimplyBackup"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name=".presentation.activities.BackupHistoryActivity"
            android:exported="false"
            android:label="@string/title_activity_backup_history"
            android:theme="@style/Theme.SimplyBackup" />
        <activity
            android:name=".presentation.activities.ConnectionConfigurationActivity"
            android:exported="false"
            android:label="@string/title_activity_add_connection"
            android:theme="@style/Theme.SimplyBackup" />
        <activity
            android:name=".presentation.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SimplyBackup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".data.receiver.RunBackupReceiver" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>
    </application>

</manifest>